.Gallery {
  width: 100%;
  overflow: hidden;

  &-line {
    height: 100%;
    width: 9999px;
    margin: 0;
    padding: 0;
    /*transition: margin-left 250ms;*/
    //font-size: 0;
    display: flex;
  }

  &-slide {
    width: 858px;
    height: 480px;
    text-align: center;
    padding: 0 10px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}