.Slider {
  position: relative;
  width: 100%;
  padding: 10px 50px;
  border: 1px solid #CCC;
  background: #eee;
  box-sizing: border-box;
  margin-bottom: 30px;

  &-arrow {
    position: absolute;
    top: 240px;
    padding: 0;
    background: #ddd;
    border-radius: 15px;
    border: 1px solid gray;
    font-size: 24px;
    line-height: 24px;
    color: #444;
    display: block;

    &--next {
      right: 7px;
    }

    &--back {
      left: 7px;
    }
  }
}
